{% extends "layout.html" %}
{% block title %}My Projects{% endblock %}
{% block body %}
    <div class="section">
        {% set projects = site.query('/projects').all() %}
        <h5 class="section-title">Projects</h5>

        <div class="row">
            {% for project in projects %}
                <div class="card six columns">
                    <h5>{{ project.title }}</h5>
                    <p>{{ project.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="section">
        <h5 class="section-title">Me</h5>
        <p>My name is Nicholas Pleschko and I like to code.</p>
    </div>
{% endblock %}