<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<title>igin notes</title>
<body>
  <header>
    <div class="title">
        <div id="background-image"></div>
        <div class="avatar">
            <h1>N</h1>
        </div>

    </div>

  </header>
  <nav>
      <ul class="nav navbar-nav">
          {% for href, title in [
          ['/projects', 'Projects'],
        ] %}
              <li{% if this.is_child_of(href) %} class="active"{% endif
                      %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
      </ul>
  </nav>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
      <span>&copy; Copyright 2017 by Nicholas Pleschko.</span>
  </footer>
</body>
